{% extends 'base.html' %}



{% block content %}
    
        {% for i in mobiles %}
            <div class="card" style="width: 18rem; display:inline-block">
                {% if i.photo %}
                    <img src="{{i.photo.url}}" class="card-img-top" alt="" width="50px" height="300px">
                {% endif %}
                
                <div class="card-body">
                    <a href="{% url 'detail' i.id %}"><button type="button" class="btn btn-outline-info">{{i.name}}</button></a>
                </div>
            </div>
                
        {% endfor %}
    
{% endblock content%}